
body{border: solid black 5px;
	background-color: #FF7F50;}
#bodyDiv{margin-left:auto;
	margin-right:auto;
	width:800px;
	height:800px;
	background-color:#B22222;
	font-weight:10; 
	text-align:center;}
#wrapperDiv{position:float;
	margin:auto;
	border-style:ridge;
	border-width:10px;
	border-color:#6495ED;}

