#wrapperDiv{margin:auto;
	border:ridge #6495ED 10px;
	background-color:#00FFFF;
	padding:20px;}
#bodyDiv{margin:auto;
	height:800px;
	width:600px;
	background-color:#5F9EA0;
	text-align:center;
	padding:15px;}
